/*------------------------------------------

Project Name : Avace
Desgined By  : Faridul Haque;
Developed By : Faridul Haque;
Date        :  09/07/17;

Table Of Index
------------------
01. Base CSS
02. Home 1
    a. hero slider
    b. service 
    c. about us
    d. our features
    e. video
    f. resources 
    g. testimonial  
    h. cta  
    i. story  
    j. featured  
    k. blog  
    l. footer  

03. Home 2
    a. hero
    b. feature
    c. service
    d. image content
    e. process area
    f. client experience
    g. footer

04. Home 3
    a. hero
    b. expertise 
    c. quote 
    d. client story
    e. pricing
    f. contact
    g. client
    h. google map
    i. footer

05. Innerpages
    a. service page
    b. about Company page
    c. management Team page
    d. service page 1
    e. service page 3
    f. single service page 1
    g. single service page 2
    h. resource page
    i. about company page
    j. case studies page
    k. our work page
    l. aplication form page
    m. career page
    n. career details page
    o. planner page
    p. contact 1 page
    q. contact 2 page
    r. contact 3 page



/*---------------------------------------------
                ==Base CSS==
---------------------------------------------*/

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

@media all and (max-width: 768px) {
    html {
        font-size: 81.25%;
    }
}

body {
    font-size: 15px;
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
    color: #5c6672;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Roboto', sans-serif;
    color: #252525;
    font-weight: 400;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    margin-top: -8px;
    margin-bottom: 0;
}

h1,
.h1 {
    font-size: 48px;
    line-height: 55px;
    font-weight: 700;
}

h2,
.h2 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
}

h3,
.h3 {
    color: #222222;
    font-size: 24px;
    line-height: 35px;
    font-weight: 500;
}

h4,
.h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

h5,
.h5 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}

h6,
.h6 {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

p,
.p {
    color: #5c6672;
    font-size: 15px;
    font-weight: 400;
}
.typo-md{
    font-size: 46px;
}
a{
    font-size: 17px;
    color: #222;
  transition: 0.4s ease;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
}
.lead {
    font-size: 1.35714286em;
    line-height: 1.68421053em;
}

@media all and (max-width: 767px) {
    h1,
    .h1 {
        font-size: 2.35714286em;
        line-height: 1.20363636em;
    }
    h2,
    .h2 {
        font-size: 1.78571429em;
        line-height: 1.5em;
    }
    h3,
    .h3 {
        font-size: 1.35714286em;
        line-height: 1.85714286em;
    }
    .lead {
        font-size: 1.35714286em;
        line-height: 1.68421053em;
    }
}

p,
ul,
ol,
pre,
table,
blockquote {
    margin-bottom: 10px;
}

ul,
ol {
    line-height: 1.85714286em;
}

ul.bullets {
    list-style: inside;
}

ol {
    list-style-type: upper-roman;
    list-style-position: inside;
}

blockquote {
    font-size: 1.78571429em;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    border-left: 0;
}

strong {
    font-weight: 600;
}

hr {
    margin: 40px 0 30px;;
    border-color: #fafafa;
}
.center{
    text-align: center;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
*::after, *::before {
  content: '';
}
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: #3184f4;
}

/*------ transition -------*/
.transition,
.faq-section i,
.video__content hr,
.footer_bottom li, 
.contact__phone a{
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
}
img{
    max-width: 100%;
}
.boxed{
    padding: 25px
}

/*------ color -------*/

.bg__light{
    background: #f6f7f9;
}
.bg__dark{
    background: #272b34;
}
.bg__blue{
    background: #3184f4;
}

/*------ Image overlay -------*/
.overlay {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.overlay:before {
    content: "";
    background-color: rgba(39, 43, 52, .9);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

/*---- Overlay 2 ---*/
.overlay-2 {
    position: relative;
    z-index: 1;
}
.overlay-2:before {
    content: "";
    background-color: rgba(22, 24, 27, 0.47);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

/*---- Overlay 2 ---*/
.overlay-3 {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.overlay-3:before {
    content: "";
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}


/*------ Nice Select CSS -------*/
.nice-select {
    width: 100%;
    background: transparent;
    border: 1px solid #3d434f;
    line-height: 40px;
    color: #9ba5b0;
}

.nice-select:hover {
    border-color:  #3d434f;
}
.nice-select .option {
}

.nice-select .list {
    width: 100%;
    background: #272b34;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px rgb(153, 153, 153);
}

.nice-select .option:hover {
    background: #3183f2;
}

/*------ Button Reset CSS -------*/
.btn:active,
.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus{
    outline: none;
    outline-offset: 0px;
    box-shadow: none;
}
.btn {
    font-size: 14px;
    letter-spacing: .3px;
    font-weight: bold;
    border-radius: 3px;
    text-transform: uppercase;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

/*------ Button Large CSS -------*/
.btn.btn__lg {
    background: #3184f4;
    color: #fff;
    min-width: 200px;
    height: 55px;
    line-height: 55px;
    box-shadow: inset #006cff 0px -5px 0px;
}
.btn.btn__lg:hover, .btn.btn__sm:hover {
    background: #3c8efd;
    box-shadow: inset #006cff 0px -60px 0px;
}

/*------ Button Large type-2  CSS -------*/
.btn.btn__lg.type_2 {
    box-shadow: none;
    text-transform: none;
    min-width: 190px;
    border-radius: 0;
}
.btn.btn__lg.type_2:hover {
    background: rgba(49, 132, 244, 0.8);
}
.btn.btn__lg.type_2 i {
      padding-left: 10px;
}
/*------ Button Large type-3  CSS -------*/
.btn_type_3 {
    color: #222222;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    padding: 10px 35px;
    border: 1px solid #ddd;
}

/*------ Button Border CSS -------*/
.btn.btn__border {
    border: 3px solid #272b34;
    color: #222222;
    min-width: 200px;
    height: 60px;
    line-height: 60px;
    background: none;
}
.btn.btn__border:hover {
    box-shadow: inset #006cff 230px 0 0px;
    border-color: #006cff;
    color: #fff;    
}
/*------ Button Small CSS -------*/
.btn.btn__sm{
    font-size: 13px;
    background: #3184f4;
    color: #fff;
    min-width: 120px;
    height: 45px;
    line-height: 45px;
    box-shadow: inset #006cff 0px -5px 0px;
}
/*------ Button Gray CSS -------*/
.btn__sm.off-white{
    background: #eeeeee;
    box-shadow: inset #aaa 0px -5px 0px;
    color: #252525;
}
.btn__sm.off-white:hover{
    background: #006CFF;
    box-shadow: inset #006CFF 0px -60px 0px;
    color: #fff;
}
.btn.btn__sm i{
    padding-left: 10px;
}
/*------ Button Dark  CSS -------*/
.btn.btn__black {
    background: #292a2d;
    color: #fff;
    box-shadow: none;
}
.btn.btn__black:hover {
    background: #fff;
    box-shadow: inset #fff 0px -60px 0px;
    color: #000;
}
/*------ Button Light CSS -------*/
.btn.btn__lg.white{
    background: #fff;
    box-shadow: inset #aaa 0px -5px 0px;
    color: #252525;
}
.btn.btn__lg.white:hover{
    background: #006cff;
    box-shadow: inset #006cff 230px 0px 0px;
    color: #fff;
}
.btn__lg .btn i{
    padding: 0 15px;
    margin-left: -15px;
}
/*------ Button xs CSS -------*/
.btn__xs:active ,.btn__xs:focus {
    color: #fff;
}
.btn__xs {
    background: #3184f4;
    color: #fff;
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 3px;
    box-shadow: inset #006cff 0px -3px 0px;
    text-transform: capitalize;
    font-weight: 300;
}
.btn__xs:hover {
    color: #fff;
    background: #3c8efd;
    box-shadow: inset #006cff 0px -60px 0px;
}

/*******************************************************
                    Navigation
*******************************************************/

/*-----------------------------------------
		==Topbar Css==
-----------------------------------------*/
/************Dark************/
.top-bar {
    background: #485677;
}
.top-bar .content {
    padding: 8px 0;
    color: white;
    font-size: 14px;
    display: flex;
}
.top-bar .content span{
    flex: 1;
}
.top-bar ul li a{
    font-size: 15px;
    color: #fff;
}
.top-bar ul li {
    display: inline-block;
    padding-left: 15px;
    border-right: 2px solid rgba(255, 255, 255, 0.15);
    padding-right: 15px;
}
.top-bar ul li:last-child {
    padding-right: 0;
    border-right: 0;
}
.top-bar ul li i {
    padding-right: 7px;
    color: #fff;
}

/**********light**********/
.top-bar {
    background: #fff;
}
.top-bar ul li a,
.top-bar ul li i,
.top-bar .content{
    color: #222;
}

/*-----------------------------------------
		==Start Navigation Css==
-----------------------------------------*/
.navigation {
    height: 80px;
}
.nav-brand {
    padding: 0;
    display: block;
    line-height: 75px;
}
header.light{
    background: #fff;
}
header.shadow{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;
}
.nav-menu > li > a {
    color: #333;
    font-size: 15px;
    font-weight: 400;
    padding: 34px 21px 46px 21px;
    height: 75px;
}
.nav-menu > li:hover > a, 
.nav-menu > li.active > a  {
    color: #3184f4;
}
.nav-menu > li:hover > a .submenu-indicator-chevron, .nav-menu > .active > a .submenu-indicator-chevron, .nav-menu > .focus > a .submenu-indicator-chevron {
    border-color: transparent #3184f4 #3184f4 transparent;
}
.submenu-indicator-chevron {
    border-color: white;
}
span.nav-search-close-button:focus {
    outline: 0;
    border: 0;
}
/*---------------------------------------------
            ==transparent==
---------------------------------------------*/
header.transparent {
    background: transparent;
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
}
header.transparent.light-font .nav-menu > li > a {
    color: #fff;
}
header.transparent.light-font .nav-menu > li:hover > a, 
header.transparent.light-font .nav-menu > li.active > a {
    color: #3184f4;
}
header.transparent.light-font .submenu-indicator-chevron{
    color: #fff;
    border-color: #fff;
}
header.transparent.light-font .nav-search-button i{
    color:#fff;
}
header.transparent.light-font .offcanvas_btn span{
    background: #ddd;
}
header.transparent.light-font .nav-dropdown .submenu-indicator .submenu-indicator-chevron{
    color: #333;
    border-color: #333;
}
header.transparent.light-font .nav-toggle:before {
    background-color: #ddd;
    box-shadow: 0 0.5em 0 0 #ddd, 0 1em 0 0 #ddd;
}
header.transparent.light-font .navigation-portrait .nav-menu > li > a {
    color: #333;
}
header.transparent.light-font .navigation-portrait .submenu-indicator-chevron{
    color: #333;
    border-color: #333;
}

/*  dropdown
======================================*/
.nav-dropdown > li:hover > a{
    color: #3184f4;
}
.nav-dropdown > .focus > a {
    color: #3184f4;
}

.nav-dropdown > li {
    border-bottom:1px solid #eee;
}
.nav-dropdown > li:last-child {
    border-bottom:0;
}
.nav-dropdown {
    min-width: 240px;
}
.nav-menu > li > .nav-dropdown {
    border-top: 0;
}
.nav-dropdown > li > a {
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    color: #333;
    background-color: #fff;
}
.nav-dropdown > li > a {
    padding: 12px 20px;
}
.nav-search-icon {
    color: #efefef;
}

.nav-search-button:hover, .nav-search-icon {
    color: #333;
}
.nav-menu > li > .nav-dropdown {
    border: 1px solid rgba(0,0,0,.15);
    border-top: 0;
}
.nav-menu  li ul.nav-dropdown.nav-submenu ul.nav-dropdown.nav-submenu {
    border: 1px solid rgba(0,0,0,.15);
    border-left: 0;
}
.nav-toggle:before {
    background-color: #444;
    box-shadow: 0 0.5em 0 0 #444, 0 1em 0 0 #444;
}
.submenu-indicator-chevron {
    border-color: #888;
}
.nav-dropdown .submenu-indicator {
    top: 18px;
}
.navigation-portrait .nav-dropdown .submenu-indicator {
    top: 0;
}
/*  Search Icon
======================================*/
.nav-search-button {
    background-color: transparent;
    padding: 29px 20px 24px 20px;
    cursor: pointer;
}
.nav-search-button i{
    color: #555;
    font-size: 14px;
    transition: .3s;
}
.nav-search-close-button {
    right: 42px;
    top: 24px;
}
/*----------- Mobile Menu-----------*/
.navigation-portrait .nav-menu > li > a {
    color: #222;
    padding: 15px 15px 15px 26px;
}
.navigation-portrait .nav-header {
    display: inline-block;
    float: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.navigation-portrait .nav-toggle {
    left: 0;
}
.navigation-portrait .nav-search {
    margin-right: 0px;
    padding: 0;
}
.navigation-portrait .nav-search-button {
    line-height: 26px;
    width: 40px;
    padding: 30px 35px 24px 30px;
}
.navigation-portrait .nav-brand {
    font-size: 18px;
    line-height: 70px;
}
/*----------- Off CanvasMobile Menu-----------*/

.navigation-portrait .offcanvas.in_menubar{
    float: right;
    height: 50px;
}

/*  Search Icon
======================================*/

/*---------------------------------------
        ==Off Canvas=
---------------------------------------*/
.canvas_dark{
    background: #222;
}
.canvas_light{
    background: #fff;
}
.offcanvas_btn {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    position: relative;
}
.offcanvas_btn span {
    background: #666666 none repeat scroll 0 0;
    display: block;
    float: none;
    height: 2px;
    margin-bottom: 4px;
}
.offcanvas_btn span:first-child {
    width: 16px;
}
.offcanvas_btn span:nth-child(2) {
    width: 14px;
}
.offcanvas_btn span:nth-child(3) {
    width: 19px;
}
.offcanvas1 .single_canvas_top .site_logo {
    flex: 1;
}
.offcanvas1 .single_canvas_top .site_logo a {
    display: block;
}
.offcanvas.in_menubar {
    float: right;
    display: block;
    padding: 35px 0px 19px 10px;
}
.single_canvas.offcanvas1.right{
    right: 0px
}
.single_canvas.offcanvas1.left{
    left: 0px
}
.single_canvas.offcanvas1,.single_canvas.offcanvas1.close{
    position: fixed;
    width: 370px;
    height: 100vh;
    top: 0px;
    z-index: 999;
    transform: translateX(370px);
    transition: all .40s;
    opacity: 1;
    cursor: default;
}
.single_canvas.offcanvas1.open{
    transform: translateX(0px);
    overflow-y: auto;
}
.single_canvas.offcanvas1.left,.single_canvas.offcanvas1.close.left{
    transform: translateX(-370px);
}
.single_canvas.offcanvas1.open.left{
    transform: translateX(0px);
}
.offcanvas1 .single_canvas_inner{
    width: 100%;
    height: 100%;
}
.offcanvas1{
    padding-left: 50px;
    padding-right: 36px;
}
.offcanvas1 .single_canvas_top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 50px;
    align-items: flex-end;
}
.canvas_cancel {
    height: 20px;
    position: relative;
    width: 20px;
    cursor: pointer;
}
.canvas_cancel::before {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 7px;
  transform: rotate(45deg);
  transition: all 0.1s;
  width: 20px;
}
.canvas_cancel::after {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 7px;
    transform: rotate(-45deg);
    transition: all 0.1s;
    width: 20px;
}
.open, .close{
    text-shadow: none;

}
.offcanvas1 .canvas_menu_pages {
    padding-bottom: 35px;
    padding-top: 22px;
}

.offcanvas1 .canvas_menu_pages ul li{
    float: none;
}
.offcanvas1 .canvas_menu_pages ul li a {
    color: #fff;
    display: block;
    font-size: 26px;
    line-height: 55px;
    font-weight: 600;
}

.offcanvas1 .canvas_info ul li{
    float: none;
    font-size: 14px;
    color: #eee;
    line-height: 30px;
    font-weight: 400;
}
.offcanvas1 .canvas_info {
    padding-bottom: 22px;
    padding-top: 22px;
}
.offcanvas1 .canvas_info h6 {
    color: #888;
    font-weight: 400;
    padding-bottom: 8px;
}
.offcanvas1 .canvas_location {
    padding-bottom: 22px;
    padding-right: 111px;
    padding-top: 5px;
}
.offcanvas1 .canvas_location h6 {
    color: #888;
    font-weight: 400;
    padding-bottom: 8px;
}
.offcanvas1 .canvas_location p {
    color: #eee;
    line-height: 29px;
}
/*---Social---*/
.canvas_menu_pages ul, .canvas-social ul {
    line-height: 0;
    padding-bottom: 30px;
}
.canvas-social li {
    display: inline-flex;
    padding-right: 8px;
}
.canvas-social li i {
    color: #fff;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    border-radius: 3px;
    transition: .3s;
}
.canvas-social li i:hover {
    transform: scale(1.15);
}
.canvas-social li .fa-facebook {
    background: #3b5998;
}
.canvas-social li .fa-twitter {
    background: #0084b4;
}
.canvas-social li .fa-linkedin {
    background: #0077B5;
}
.canvas-social li .fa-youtube {
    background: #c4302b;
}
.canvas-social li .fa-google-plus {
    background: #dd4b39;
}

/*---Canvas white---*/
.canvas_light .canvas_menu_pages ul li a {
    color: #222;
}
.canvas_light .canvas_social ul li a{
    color: #888888;
}
.canvas_light .canvas_info ul li {
    color: #888888;
}
.canvas_light .canvas_location p {
  color: #888888;
}
.single_canvas.canvas_light.offcanvas1 {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.canvas_light.single_canvas .canvas_cancel::before,.canvas_light.single_canvas .canvas_cancel::after {
    background: #222 none repeat scroll 0 0;
}


/*---------------------------------------
        ==Menu Responsive=
---------------------------------------*/
@media (max-width: 320px) {
    .navigation-portrait .nav-brand img {
        height: 28px;
    }
    .navigation-portrait .nav-toggle {
        left: 15px;
    }
    .single_canvas.offcanvas1,
    .single_canvas.offcanvas1.close {
        position: fixed;
        width: 100%;
    }
}

/*******************************************************
                    Home 1
*******************************************************/

/*---------------------------------------------
                ==Hero Slider==
---------------------------------------------*/
.hero_area .section_overlay {
    background: rgba(30, 32, 36, 0.8);
}

/*---------------------------------------------
                ==Service CSS==
---------------------------------------------*/
.services img {
    width: 100%;
}
.service__lg h3 {
    padding-bottom: 15px;
}
.service__lg p {
    color: #888888;
}
.service__body.boxed {
    border-bottom: 5px solid #3184f4;
}
.service__sm {
    padding-left: 15px;
}
.service__sm .icon{
    font-size: 45px;
    color: #3184f4;
}
.service__sm h4 {
    padding-top: 15px;
    padding-bottom: 10px;
}

/*---------------------------------------------
                ==About CSS==
---------------------------------------------*/
.about h2 {
    padding-bottom: 20px;
}

/*---------- Faq CSS ----------*/
.faq-wrapper > h5 {
    line-height: 34px;
    margin-top: -6px;
    margin-bottom: 28px;
}
.faq-wrapper .panel {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
}
.faq-wrapper .panel-heading {
    padding-top: 3px;
    padding-left: 0;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.faq-section .panel-title > a {
    line-height: 28px;
}
.faq-section .panel-title > a span {
    color: #252525;
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
    padding-left: 20px;
}
.faq-section i {
    position: absolute;
    font-size: 26px;
    margin-top: 3px;
}
.faq-section .panel-body {
    border-left: 0 none !important;
    border-right: 0 none !important;
    border-top: 3px solid #3184f4 !important;
    color: #888;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 22px;
    padding-bottom: 15px;
    padding-left: 0;
}
.faq-section .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-left: 0 none !important;
    border-right: 0 none !important;
    border-top: 4px solid #3184f4;
}
.panel-title a[aria-expanded^="true"] i.fa {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}


/*---------------------------------------------
                ==Our Features CSS==
---------------------------------------------*/
.features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 9px;
}
.features__icon {
    font-size: 36px;
    color: #3184f4;
}
.features__content h4 {
    padding-bottom: 15px;
}
.quote{
    background: url(assets/images/quote-img.jpg) no-repeat fixed;
    background-size: cover;
    position: relative;
}
.quote h1{
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
    font-style: italic;
    color: #ffffff;
    max-width: 680px;
    margin: 0 auto;
}


/*---------------------------------------------
                ==Video CSS==
---------------------------------------------*/
.video__player iframe {
    border: none;
}
.video__content hr {
    border: 3px solid #3184f4;
    width: 100px;
}
.video__content:hover hr {
    width: 140px;
}
.video__content h4 {
    color: #5c6672;
}


/*---------------------------------------------
                ==Resources CSS==
---------------------------------------------*/
.resources h2, .resources p {
    padding-bottom: 30px;
}


/*---------------------------------------------
                ==Testimonial CSS==
---------------------------------------------*/
.testimonial {
    background: #fff;
    padding: 30px;
    margin-top: 40px;
}
.testimonial h5 {
    padding-bottom: 3px;
}
.testimonial img {
    position: absolute;
    top: 0;
    left: 30px;
    border: 5px solid #f6f7f9;
    border-radius: 50px;
    height: 80px;
    width: initial!important;
}
.testimonial p {
    font-style: italic;
    padding-top: 20px;
}
.testimonial h6 {
    color: #636a7d;
    font-size: 13px;
}

/*---------------------------------------------
                ==CTA CSS==
---------------------------------------------*/
.cta__content h2 {
    color: #fff;
    padding-bottom: 10px;
}
.cta__content p {
    color: #9ba5b0;
    margin: 0;
}


/*---------------------------------------------
                ==Story CSS==
---------------------------------------------*/
.story h5 {
    color: #5c6672;
    padding-bottom: 10px;
}
.story h2 {
    padding-bottom: 40px;
}
.story p {
    padding-bottom: 45px;
}

/*---------------------------------------------
                ==Featured On CSS==
---------------------------------------------*/
.featured__brand_logo{
    padding-bottom: 70px;
}
.featured__brand_logo img{
    margin-right: 15%;
}

/*---------------------------------------------
                ==Blog CSS==
---------------------------------------------*/
.blog {
    background: #fff;
}
.blog h4 {
    padding-bottom: 10px;
}
.blog h6 {
    font-size: 13px;
    padding-bottom: 20px;
    color: #888;
}


/*---------------------------------------------
                ==Footer CSS==
---------------------------------------------*/
.footer__brand img{
    padding-bottom: 35px
}
.footer p, .footer li a{
    color: #ccc;
}
.footer h4{
    color: #fff;
    padding-bottom: 28px
}
.footer__widget ul{
    list-style: none;
    padding: 0;

}
.footer__widget ul li a{
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
}
.footer__widget ul li a:hover{
    color: #3184f4;
}

/*---------- Newsletter CSS ----------*/
.footer__newsletter p {
    padding-bottom: 10px;
}
.subscribe-form {
    background: none;
    border: 1px solid #3d434f;
    font-size: 15px;
    color: #cccccc;
    width: 100%;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px
}
.footer__newsletter span{
    color: #cccccc;
    font-size: 12px;
    padding-top: 15px;
}

/*---------- Footer Bottom CSS ----------*/
.footer_bottom{
    background: #23262e;
}
.footer_bottom p{
    font-size: 13px;
    color: #b6b6b6;
}
.footer_bottom p a{
    font-size: 13px;
    color: #ddd;
}
.footer_bottom p a:hover{
    color: #3184f4;
}
.footer_bottom ul{
    list-style: none;
}
.footer_bottom li{
    display: inline-block;
    margin-right: 5px;
    border-radius: 50px;
}
.footer_bottom li i{
    font-size: 14px;
    text-align: center;
    height: 36px;
    width: 36px;
    line-height: 36px;
}
.footer_bottom li:hover{
    box-shadow: inset #006cff 0px -50px 0px
}
#mailchimp input::-webkit-input-placeholder {
	  color: #ccc;
}
#mailchimp input::-moz-placeholder{
    color: #ccc;
    opacity: 1
}
#mailchimp input:-ms-input-placeholder {  
	  color: #ccc; 
}

#mailchimp textarea.subscribe-form-message::-moz-placeholder {
    color: #ccc;
    opacity: 1
}
#mailchimp textarea.subscribe-form-message:-ms-input-placeholder {
    color: #ccc
}
#mailchimp textarea.subscribe-form-message::-webkit-input-placeholder {
    color: #ccc
}


/*******************************************************
                    Home 2
*******************************************************/

/*---- Hero Area ----*/

.hero_area_3{
    padding-top: 210px;
    padding-bottom: 200px;
}
.hero_content h2 {
    color: #313236;
    font-size: 36px;
    font-weight: 300;
    padding-bottom: 52px;
    line-height: 48px;
}
.hero_area_3 .vbox-item-1 i{
    font-size: 16px;
    color: #fff;
    background: #3184f4;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}
.hero_area_3 a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

/*---- Feature Area ----*/
.feature_icon {
    width: 22%;
}
.feature_content {
    width: 76%;
}
.feature_details i {
    color: #3184f4;
    font-size: 36px;
}
.feature_details h4 {
    padding-bottom: 15px;
}
.feature_icon {
    vertical-align: top;
    padding-right: 30px;
}

/*---- Service 4 ----*/
section.service_4 {
    background: #f2f2f2;
}
.service_4 .service_shadow {
    background: #fff;
    box-shadow: 0px 3px 6px 0px #eeeeee;
    padding: 50px 18px 40px 18px;
    
}
.service_4 .service_content span {
    color: #3184f4;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

/*---- Service-big  ----*/
.service_4 ul {
    background: #fff;
    display: flex;
}
.service_4 ul li {
    display: inline-block;
    width: 49%;
    padding-left: 40px;
    padding-right: 9px;
}
.service_4 ul li:first-child {
    padding: 0;
}
.service_4 ul li {
    padding-top: 50px;
    display: inline-block;
    padding-bottom: 36px;
}
.service_4 ul li span {
    color: #3184f4;
}

/*---- Service CTA ----*/
.service_cta {
    background: #3184f4;
    padding: 75px 5px;
}
.service_cta h3 {
    color: #ffffff;
    font-weight: 400;
}

/*---- Content Block ----*/
.content_block_cont_01 {
    border: 1px solid #dddddd;
    padding: 48px 25px 28px 25px;
}
.content_block_cont_01 h4 {
    color: #222222;
    padding-bottom: 15px;
}

/*---- Image Content Block ----*/
.img-block {
    position: relative;
    background: #eee;
}
.img-block .media-content {
    position: absolute;
    height: 100%;
    width: 50%;
}

.section-content .container {
    width: 100%;
}
.img-block .section-content {
    margin: 0 auto;
    max-width: 585px;
}
.img-block.right {
    padding-right: 50%;
}
.img-block.right .media-content {
    right: 0;
}
.img-block.right .section-content {
    margin-right: 0;
    padding-right: 15px;
}
.img-block.left {
    padding-left: 50%;
}
.img-block.left .media-content {
    left: 0;
}
.img-block.left .section-content {
    margin-left: 0;
    padding-left: 15px;
}
.img-block .text-content h2 {
    padding-bottom: 25px;
}


/*---- Process Area ----*/
.process_icon {
    position: relative;
}
.process_icon:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 92px;
    height: 100%;
    border-bottom: 2px dotted #ddd;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin: 130px 120px 0;
}
.border_none:after {
    border-bottom: none;
}
.process_icon i {
    color: #3184f4;
    font-size: 48px;
    height: 170px;
    width: 170px;
    line-height: 170px;
    border-radius: 50%;
    border: 1px solid;
    border-color: #ddd;
    display: inline-block;
}
.process_content h5 {
    font-size: 20px;
    padding-bottom: 10px;
}
.process_icon:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: all .40s;
    opacity: 1;
}
.process_content:hover .process_icon:before{
    transform: scale(1.3);
    opacity: 0;
    border-color: #365cff;
}



/*---- Client Experience ----*/
.client_experience {
    background: #f2f2f2;
}
.client_experience_img {
    width: 19%;
    display: inline-block;
    padding-bottom: 60px;
}

/*---- Cta 3 ----*/
.cta_3 {
    background: #3184f4;
}
.cta_3 h2 {
    color: #ffffff;
}

/*---- Footer 2 ----*/
.footer_2 .footer__widget ul li {
    margin-bottom: 20px;
}
.footer_2  h4 {
    text-transform: uppercase;
}
.footer_2 .footer__brand p {
    color: #9ba5b0;
}
.footer_2 .footer__widget p {
    line-height: 35px;
}
.footer_2 .footer__widget ul li a {
    color: #cccccc;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.footer_2 .subscribe-form {
    border-radius: 3px;
    background: #232427;
    border: 1px solid #333840;
}
.footer_2 .subscribe-form-message {
    border-radius: 3px;
    background: #232427;
    border: 1px solid #333840;
    font-size: 15px;
    width: 100%;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 85px;
    margin-bottom: 20px;
}
.footer_2 .footer_bottom {
    background: #272b34;
    border-top: 1px solid #333840;
}
.footer_2 .footer_bottom p {
    font-size: 15px;
    color: #9ba5b0;
}


/*******************************************************
                    Home 3
*******************************************************/

/*--- Hero 3 Style Reset ---*/

.home_3 h4 {
    padding-bottom: 15px;
}
.home_3 h4 a {
    color: #222222;
    font-size: 20px;
    font-weight: 500;
}
.home_3 p{
    margin-bottom: 0;
}
.home_3 p a{
    color: #5c6672;
    font-size: 15px;
    font-weight: 400;
}

/*--- Hero Area ---*/
.hero-3 .container__mid {
	height: 70vh;
	flex-direction: column;
	align-items: flex-start;
    max-width: 670px;
}
.hero-3 h1{
   padding-bottom: 25px
}
.hero-3 h4{
    padding-bottom: 40px;
    font-weight: 400;
    color: #5c6675;
}


/*--- Expertise Area ---*/
.expertise_service {
    background: #fff;
}
.expertise_area {
    background: #f3f7fa;
}
.expertise_area .grid_2 {
    margin-top: 165px;
}
.expertise_title h2 {
    color: #222222;
    padding-bottom: 20px;
}
.expertise_service_content {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 46px;
    vertical-align: top;
}
.expertise_service_img {
    float: right;
}
.expertise_service_content p > a > i{
    padding-left: 10px;
}
.all_solutions a {
    font-size: 15px;
    color: #222222;
    font-weight: 500;
}
.all_solutions i {
    padding-left: 10px;
}

/*--- Quote Area ---*/
.quote_area.overlay:before {
    background-color: rgba(39, 43, 52, .35);
}
.quote_area h2 {
    color: #ffffff;
    margin: 0 auto;
    font-weight: 400;
}

/*--- Client Stories ---*/
.client_stories {
    border-bottom: 1px solid #dddddd;
}
.client_stories_content h6 {
    padding-bottom: 10px;
    padding-top: 40px;
}
.client_stories_content h6 a {
    color: #5c6672;
    font-size: 16px;
    font-weight: 500;
}

/*--- Pricing Area ---*/
.pricing_table {
    border: 1px solid #ddd;
}
.package_title h5 {
    color: #222222;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.package_title h1 {
    color: #3184f4;
    font-size: 60px;
    font-weight: 300;
    margin: 5px 0 2px;
}
.package_title span {
    color: #3184f4;
    font-size: 16px;
    font-weight: 300;
}

.price_feature ul {
    padding: 0;
}
.price_feature ul li {
    list-style: none;
    color: #5c6672;
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
}
.price_feature ul li del {
    color: #dddddd;
}
.price_btn {
    margin-top: 38px;
}

.pricing_table.active .btn_type_3 {
    color: #fff;
    background: #3184f4;
    border: none;
}
.btn_type_3:hover {
    color: #fff;
    background: #3184f4;
    border: none;
}

/*--- Message Area ---*/
.contact_area{
    background-image: url(assets/images/img-2.jpg);
}
.contact_content h2 {
    color: #ffffff;
    padding-bottom: 25px;
}
.contact_content p {
    color: #eeeeee;
}
.contact_form label {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    color: #9ba5b0;
    font-size: 12px;
    font-weight: 400;
    padding-left: 35px;
    line-height: 45px;
}
.contact_form {
    background: #fff;
    padding: 60px 30px;
}

.wpcf7-form-control {
    width: 100%;
    padding: 5px 20px;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: #ddd;
    outline: 0;
    resize: vertical;
    box-shadow: none;
}

.wpcf7-submit {
    padding: 0;
    width: 140px;
    height: 45px;
    color: #fff;
    background: #3184f4;
    border: 0;
    margin-left: 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
}
.home_3 .nice-select.nice-select-1.form-control.wide {
    line-height: 31px;
}

.home_3 .nice-select {
    border-color: #ddd;
    box-shadow: none;
    border-radius: 0;
}
.home_3 .nice-select .current {
    color: #aaa;
}

/*--- Client Area ---*/
.client_title h2 {
    color: #222222;
    padding-bottom: 35px;
}
.owl-carousel .client_area__single__item img {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

/*--- Google Map ---*/
#map_contact_2 #google_map{
    height: 450px;
}
.home_3 .footer h4{
    padding-bottom: 28px;
}
/*--- Footer Area ---*/
.home_3 .btn.btn__sm{
    box-shadow: none;
    font-weight: 500;
    border-radius: 0;
    text-transform: none;
}


/*******************************************************
                    Innner Pages
*******************************************************/

/*******************************************************
                    Breadcrumb
*******************************************************/
/*---------- breadcrumb 1 ----------*/
.breadcrumb-type-1{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
}
.breadcrumb {
    background-color: transparent;
}
.breadcrumb-type-1 h1{
    font-size: 36px;
}
.breadcrumb>li+li:before {
    font: 16px/1 FontAwesome;
    padding: 0 10px;
    color: #ccc;
    content: "\f105";
}
.breadcrumb-type-1 .breadcrumb>.active {
    color: #3184f4;
}
.breadcrumb-type-1 ol li {
    font-size: 16px;
}

/*----- Breadcrumb Type 2 ------*/
.breadcrumb-type-2{
    background: url(assets/images/breadcrumb-img.jpg);
    background-size: cover;
}
.breadcrumb-type-2 h2{
    color: #ffffff;
    font-size: 36px;
    padding-bottom: 10px;
}
.breadcrumb-type-2 .breadcrumb li a{
    color: #ffffff;
}
.breadcrumb-type-2 .breadcrumb>.active {
    color: #dddddd;
}


.page_link a {
    color: #222222;
    font-size: 24px;
    line-height: 35px;
    font-weight: 500;
}

/*===================================
            Service Page
===================================*/
.timeline{
    position: relative;
}
.timeline:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    left: 50%;
    top: 0;
    background: #3184f4;
}
.timeline_item:after {
    content: '';
    position: absolute;
    top: 0;
    width: 96px;
    height: 96px;
    border-radius: 100%;
    background: #f6f7f9;
    border: 2px solid #3184f4;
}

.timeline_item_content {
    max-width: 450px;
}

.timeline .timeline_item {
    width: 50%;
    position: relative;
}
.timeline .timeline_item:nth-child(odd) {
    text-align: left;
    padding-right: 3.71428571em;
}

.timeline .timeline_item:nth-child(even) {
    left: 50%;
    padding-left: 115px;
}
.timeline_item:nth-child(odd):after {
    right: 0;
    transform: translate(50%, 80%);
}

.timeline_item:nth-child(even):after{
    left: 0;
    transform: translate(-50%, 80%);
}

.timeline .duration{
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    transform: translate(50%, 113px);
}
.timeline .duration-even {
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transform: translate(-50%, 113px);
}
.timeline h4{
    padding-bottom: 10px;
}


/*===================================
            About Company Page
===================================*/
/*----- about_company ------*/
.about_company_content h2{
    max-width: 545px;
    padding-bottom: 22px;
}

.Submit_button {
    background: #272b34;
    padding: 30px 20px;
    width: 100%;
    border-bottom: 5px solid #3184f4;
}
.Submit_button input, .Submit_button select {
    width: 100%;
    float: right;
    margin-bottom: 20px;
    background: #272b34;
    color: #9ba5b0;
    font-size: 12px;
    text-transform: capitalize;
    outline: none;
    border: 1px solid #3d434f;
}
.Submit_button input{
    padding: 10px 15px;
}
.Submit_button select {
    padding: 15px;
    margin-bottom: 30px;
}
.Submit_button input::-webkit-input-placeholder {
	  color: #9ba5b0;
}
.Submit_button input::-moz-placeholder {
    color: #9ba5b0;
    opacity: 1;
}
.Submit_button input:-ms-input-placeholder {  
	  color: #9ba5b0; 
}

.about_company_img img:nth-child(1) {
    margin-bottom: 30px;
}

.foxy_core_values_title {
    position: relative;
    padding-bottom: 20px;
}
.foxy_core_values_title:after {
    border-bottom: 4px solid #3184f4;
    width: 170px;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
}

.about_company_awards h4 {
    color: #5c6672;
    padding: 5px 0 25px;
}



/*===================================
            Management Team Page
===================================*/

.team_member img {
    margin-right: 25px;
    display: inline-block;
    vertical-align: top;
}
.team_content h3 {
    margin-top: -8px;
}
.team_content h6 {
    color: #636a7d;
    padding-bottom: 22px;
}
.team_content p {
    margin-bottom: 0px;
}

.recognitions h4 {
    color: #333333;
}
.recognitions ul {
    padding-left: 15px;
    padding-top: 5px;
}
.recognitions ul li {
    color: #5c6672;
    font-size: 15px;
    line-height: 40px;
    font-weight: 400;
}
.team_member p a, .recognitions ul li a {
    color: #3184f4;
    font-size: 15px;
}

/*******************************************************
                    Service Page 1
*******************************************************/
.service_1 .service_content h3 {
    padding-bottom: 20px;
    margin-top: -8px;
}
.read_more {
    color: #222222;
    font-size: 17px;
    font-weight: 500;
}
.read_more i {
    padding-left: 10px;
}

/*----- Content Block with Overlay ------*/
.content_block_1 h2{
    color: #fff;
    font-weight: 400;
}

/*----- Cta 2 ------*/
.cta_2 p {
    color: #eee;
}


/*******************************************************
                    Service Page 3
*******************************************************/

/*----- Service 3 ------*/
.service_3_icon {
    border: 1px solid #e5e5e5;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    line-height: 150px;
    vertical-align: top;
}
.service_3_icon span {
    color: #3184f4;
    font-size: 48px;
    vertical-align: top;
}
.service_3_icon:hover {
    background: #3184f4;
}
.service_3_icon:hover span {
    color: #ddd;
}

.service_3_content {
    border-bottom: 1px solid #dddddd;
}
.service_3_content:last-child {
    border-bottom: none;
}
.service_2 .service_content h4 {
    color: #222222;
    padding-bottom: 8px;
    padding-top: 14px;
}
.service_3_content h3 {
    margin-top: -8px;
    padding-bottom: 22px;
}
.service_3_content p {
    padding-bottom: 30px;
}

.service_3_resources h3 {
    position: relative;
    margin-bottom: 65px;
}
.service_3_resources h3:after {
    border-bottom: 2px solid #dddddd;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    margin-bottom: -15px;
}
.service_3_content .btn.btn__sm{
    min-width: 120px;
    height: 50px;
    margin-right: 8px;
}

/*******************************************************
                   Single Service Page 1
*******************************************************/

/*------- Sidebar Nav ------*/
.sidebar_nav ul {
    background: #272b34;
    padding-left: 0;
}
.sidebar_nav ul li {
    list-style: none;
    border-bottom: 1px solid #3d434f;
    cursor: pointer;
    padding: 18px 15px;
    position: relative;
    z-index: 1;
}
.sidebar_nav ul li a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}
.sidebar_nav ul li a i {
    padding-right: 10px;
}
.sidebar_nav ul li:last-child {
    border-bottom: 5px solid #3184f4;
}
.sidebar_nav ul li:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #3184f4;
    z-index: -1;
    -webkit-transition: .5s;
    transition: .5s;
}
.sidebar_nav ul li:hover:after {
    width: 100%;
}

/*------- Service Content ------*/
.single_service_1_img img:nth-child(1){
    padding-bottom: 30px;
}

.service_content_02 h2, .service_content_01 h2 {
   padding-bottom: 20px;
}
.service_content_02 li {
    line-height: 30px;
}
.service_content_02 li a {
    color: #5c6672;
    font-size: 15px;
    font-weight: 400;
}

.service_content_04 .service_sub_content_03{
    width: 48%;
    display: inline-block;
    vertical-align: top;
    padding-right: 115px;
}
.service_content_03 h2 {
    padding-bottom: 10px;
}
.service_content_03 p {
    max-width: 550px;
}

.service_content_04 .service_sub_content_img{
    width: 50%;
    display: inline-block;
    margin-left: -15px;
    margin-top: 18px;
}
.service_sub_content_img.overlay:before {
    background-color: rgba(39, 43, 52, .4);
    z-index: 0; 
}
.service_sub_content_img .venobox {
    position: absolute;
    font-size: 60px;
    color: #fff;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -5px;
}

/*------- cta 3 ------*/
.cta-type-3 .btn {
    border: 1px solid #3184f4;
    height: 60px;
    line-height: 50px;
    position: relative;
    min-width: 200px;
    z-index: 1;
}
.cta-type-3 .btn:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: #3184f4;
    z-index: -1;
    -webkit-transition: .5s;
    transition: .5s;
}
.cta-type-3 .btn:hover:after {
    height: 100%;
}
.cta-type-3 .btn i {
    margin-left: -40px;
    position: absolute;
    line-height: 50px;
}


/*******************************************************
                   Single Service Page 2
*******************************************************/
.single_service_2 {
    border-bottom: 1px solid #dddddd;
}

/*-------- Service Content 1 ---------*/
.single_service_content_1 h2 {
    color: #222222;
    padding-bottom: 15px;
}

/*-------- Service Service Title ---------*/
.single_service_title h3 {
    border-bottom: 1px solid #dddddd;
    width: 270px;
    padding-bottom: 10px;
    margin-bottom: 35px;
}

/*-------- Service Content 2 ---------*/
.single_service_content_2 h4 {
    color: #333333;
    padding-bottom: 12px;
}

/*-------- Service Content 3 ---------*/
.single_service_content_3 h3 {
    padding-bottom: 10px;
    margin-top: -8px;
}

/*-------- Service Content 4 ---------*/
.bullets{
    padding-left: 0;
    padding-top: 5px;
}
.bullets li {
    color: #5c6672;
    line-height: 32px;
}
.bullets li a {
    color: #5c6672;
    font-size: 15px;
    font-weight: 400;
    margin-left: -12px;
}

/*-------- Related Service ---------*/
.related_service h4 {
    background: #3184f4;
    color: #ffffff;
    padding: 12px 0 12px 20px;
}
.related_service ul li {
    list-style: none;
}
.related_service ul {
    border: 1px solid #ddd;
    padding: 18px 0 18px 20px;
}
.related_service li a {
    color: #888888;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
}
.related_service li a i {
    padding-right: 12px;
}


/*******************************************************
                   Resource Page
*******************************************************/
/*-------- Heading Title ---------*/
.heading_title_1 h2{
    width: 600px;
    font-weight: 400;
    color: #222222;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
.heading_title_1 p {
    margin: 0 auto;
    width: 570px;
}
.heading_title_1 hr{
    border: 3px solid #3184f4;
    margin: 20px auto 0 auto;
    width: 130px;
}

.resource_content_1 h3{
    width: 510px;
    padding-bottom: 20px;
}
.resource_content_1 p{
    padding-bottom: 20px;
}
.resource_content_1 .btn.btn__lg i{
    margin-left: 40px;
}
.resource_content_1 h6{
    display: inline-block;
}
.resource_content_1 h6 a {
    font-size: 14px;
    color: #222222;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 25px;
}

/*-------- More Stuff ---------*/
.more_stuff img {
    float: left;
}
.stuff_content {
    width: 350px;
}
.stuff_content p {
    margin: 18px 0 25px;
}

.stuff_content .btn {
    border: 1px solid #272b34;
    height: 50px;
    color: #222222;
    font-size: 14px;
    margin-top: 0;
    min-width: 150px;
}
.stuff_content .btn i {
    padding: 0 10px;
    line-height: 40px;
    margin-left: -10px;
}

.stuff_content h6 {
    display: inline-block;
}
.stuff_content h6 a{
    font-size: 14px;
    color: #222222;
    padding-left: 20px;
    font-weight: 500;
}


/*-------- Cta 2 ---------*/
.subscribe_form input {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    background: transparent;
    width: 370px;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 15px 20px;
}
.subscribe_form input::-webkit-input-placeholder {
	  color: #ffffff;
}
.subscribe_form input:-moz-placeholder{ 
    color: #ffffff; 
}
.subscribe_form input::-moz-placeholder {
    color: #ffffff;
}
.subscribe_form input:-ms-input-placeholder {  
	  color: #ffffff; 
}
.subscribe_form .btn_submit{
    background: #fff;
    border-radius: 3px;
    border: transparent;
    height: 57px;
    width: 65px;
    margin-left: -70px;
}
.subscribe_form i{
    color: #3184f4;
    font-size: 18px;
}


/*===================================
            About Company Page
===================================*/
/*-----  ------*/


/*===================================
            Case Studies Page
===================================*/
/*----- Project Brief ------*/
.project_brief_content h4 {
    color: #5c6672;
    font-weight: 400;
}
.project_brief_content .btn.btn__lg i {
    padding-left: 10px;
}

/*----- Project Detail ------*/
.project_detail_content h3 {
    padding-bottom: 10px;
}


/*----- Case Studies, Portfolio Item  ------*/
.case_studies_overlay{
    position: relative;
}
.case_studies_overlay:after {
    position: absolute;
    background: rgba(0,0,0,.35);
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.case_studies_overlay a, .portfolio-item a  {
    color: #fff;
    position: absolute;
    bottom: 28px;
    left: 35px;
    z-index: 1;
    font-size: 20px;
    font-weight: 400;
}

/*===================================
            Our Work Page
===================================*/
.portfolio_video .content{
    padding: 190px 0;
}
.portfolio_video .content h2 {
    color: #ffffff;
    max-width: 500px;
    margin: 0 auto;
}
.portfolio_video .content h6 {
    color: #9ba5b0;
    padding: 20px 0 35px;
}
.portfolio_video .content a {
    color: #fff;
    font-size: 72px;
}

/*----- Video Area ------*/
.portfolio_video{
    background: url(assets/images/work-header-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
}

/*----- Work Item/ Portfolio ------*/
.portfolio_area .portfolio-item {
    width: 33.33%; 
}
.portfolio-item {
    padding: 0 10px 20px;
}
.portfolio-item a {
    bottom: 50px;
}
.load-more {
    color: #222222;
    font-size: 15px;
    font-weight: 700;
}
.load-more i {
    padding-left: 10px;
}


/*******************************************************
                    Aplication Form Page 
*******************************************************/
section.about_company {
    background: #f6f7f9;
}
.form_bg {
    background: #fff;
    border: 1px solid #ddd;
    padding: 60px 45px;
}
.application_form label {
    color: #5c6672;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
.application_form input, .application_form select  {
    background: #fcfcfc;
    border: 1px solid #dddddd;
    border-radius: 3px;
    height: 45px;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.file_upload input{
    color: #5c6672;
    font-size: 14px;
    font-weight: 400;
}
.file_upload input:focus {
    outline: 0;
}
.file_upload h5{
    color: #5c6672;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
    padding-bottom: 5px;
}
.btn.file_btn{
    margin-left: -15px;
    margin-top: 30px;
}


/*******************************************************
                   Career Page 
*******************************************************/
.image-content-block .text-content a{
    color: #3184f4;
}
.special-content {
    box-shadow: 0px 1px 8px rgba(0,0,0,.15);
    padding: 50px 30px;
    text-align: center;
}
.special-content p {
    max-width: 670px;
    margin: 0 auto;
}

.open-opportunities .single-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 38px 0;
    margin-bottom: 30px;
    background: #fff;
    text-align: center;
}

.open-opportunities .single-item span {
    padding-bottom: 25px;
}
.open-opportunities .title h5 {
    color: #5c6672;
    font-weight: 400;
    padding-bottom: 30px;
    position: relative;
}
.open-opportunities .title h5:before {
    position: absolute;
    height: 3px;
    width: 130px;
    background: #000;
    bottom: 0;
    left: 0;
}
.benefits {
    border-bottom: 1px solid #ddd;
}
.benefits .content {
    display: flex;
    align-items: flex-start;
}
.benefits .right-content {
    flex: 1;
    flex-basis: 80%;
}
.benefits .left-content {
    flex-basis: 100%;
    padding-right: 140px;
}
.projects-2 .single-item h2 {
    padding-top: 30px;
}
.projects-2 .single-item span {
    color: #3184f4;
}

/*******************************************************
                   Career Details Page 
*******************************************************/

.job-post-brief h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}

.qualification h4 {
    padding-bottom: 10px;
}
.qualification ul li:first-child {
    margin-left: 30px;
    padding-bottom: 15px;
    display: flex;
    color: #252525;
    font-size: 16px;
}
.qualification ul li {
    margin-left: 55px;
    display: inline-flex;
    padding-bottom: 10px;
}
.qualification ul li:before {
    font-size: 9px;
     content: "\f10c ";
    font-family: FontAwesome;
    display: inline-block;
    margin: 0 15px 0 0;
}
.qualification ul li:first-child:before {
    content: "\f111";
}
.cta-type-1 h6 {
    font-size: 14px;
    padding-top: 25px;
    color: #5c6672;
}
.cta-type-1 h6 a {
    color: #5c6672;
    border-bottom: 1px solid #5c6672;
}
.cta-type-1 h6 a:hover {
    color: #3184f4;
    border-color: #3184f4;
}
.content-block h4 {
    padding-bottom: 15px;
}
/*******************************************************
                   Planner Page 
*******************************************************/
.nice-select-2{
    background: #fcfcfc;
    box-shadow: none;
    outline: none;
    height: 45px;
}
.nice-select-2:focus, .nice-select-2:hover {
    box-shadow: none;
    outline: none;
    border-color: #ddd;
}
.nice-select-2 ul li {
    color: #9ba5b0;
    font-size: 15px;
}

.project_type p{
    font-size: 16px;
}
.project_type .wrap {
    overflow:hidden;
    margin-bottom:5px;
    display: inline-block;
    margin-right: 50px;
} 
.project_type label{ 
    color: #5c6672;
    cursor: pointer;
    height: 25px;
    font-size: 14px;
    font-weight: 400;
    float: left;
    margin-top: 7px;
}
.project_type .replace { 
    border-radius: 3px;
    height: 20px;
    width: 20px;
    background: #f6f7f9;
    cursor: pointer;
    float: left;
    border: 1px solid #ddd;
    margin-right: 10px;
}
.project_type .checkbox.checked { 
    background:#3184f4;
    border: none;
}


.about_project label {
    color: #5c6672;
    font-size: 16px;
    font-weight: 400;
}
.about_project textarea {
    background: #fcfcfc;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 165px;
    margin: 10px 0 32px;
    padding-left: 10px;
    width: 100%;
}

/*******************************************************
                   Contact 1 
*******************************************************/
/*--- Map ---*/
#map_contact_3{
    margin: 78px 0;
}
#map_contact_3 #google_map {
    height: 245px;
}

/*--- Contact ---*/
.contact_address {
    width: 150px;
}
.contact_address h6 {
    color: #5c6672;
}
.contact__phone {
    vertical-align: top;
    float: right;
}
.contact__phone a,
 .contact__phone i {
    color: #5c6672;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
}
.contact__phone a:hover{
    color: #3184f4;
}
.contact__phone i {
    margin-right: 10px;
}
.contact__info p {
    font-size: 16px;
    border-top: 1px solid #ddd;
    padding-top: 40px;
    margin-top: 30px;
}

.contact_form_page label {
    color: #5c6672;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
.contact_form_page input {
    background: #fcfcfc;
    border: 1px solid #dddddd;
    border-radius: 3px;
    height: 45px;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 100%;
}
.contact_form_page textarea {
    background: #fcfcfc;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 165px;
    margin-bottom: 32px;
    padding-left: 10px;
    width: 100%;
}
.btn.box-s-none{
    box-shadow: none;
}

/*******************************************************
                   Contact 2 
*******************************************************/
.contact_title h1{
    color: #222;
    font-weight: 500;
    margin-bottom: 15px;
}

.contact_title hr{
    border-bottom: 4px solid #222222;
    width: 220px;
    margin: 0 auto;
}


/*******************************************************
                   Contact 3 
*******************************************************/
#map_contact_4 #google_map {
    height: 315px;
    width: 100%;;
}




